.box {
  height: 200px;
  min-width: 30%;
  max-width: 500px;
  background-color: #3a3a3a;
  border-radius: 20px;
}

.box .bg {
  border-radius: 20px;
  height: 60%;
  background-color: white;
  font-size: 100px;
  border: 1px solid rgba(0, 0, 0, 0.406);
  overflow: hidden;
  color: #575757;
}

.box .text {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: larger;
  color: white;
}

.box .text h1 {
  font-size: medium;
  margin-left: 20px;
}

.box .text p {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  color: #2e2d2d;
  height: 40px;
  width: 40px;
  margin: 0;
  border-radius: 1000px;
  background-color: white;
  margin-right: 20px;
}
